/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #fefae0;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

#game {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#game > .tile {
  position: absolute;
  width: 64px;
  height: 64px; 

  border: 1px solid #283618;  
  background-color: #606c38;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;

  transition: transform 0.2s;
}

/* #game > .tile:hover {
  transform: scale(1.1);
}

#game > .tile:active {
  transform: scale(0.9);
} */

header {
  background-color: #283618;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;  
}

header > nav > ul {
  display: flex;
  gap: 16px;
}

header > nav > ul > li > a {
  color: white;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-around;
  align-items: center;
}

.game-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 300px;

}

.game-list-container > h2 {
  color: #283618;
}

.game-list-container > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #283618;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #606c38;    
}
.game-container-inner {
  display: flex;
  flex:1;
  width: 256px;

}

.selected-tile {
  background-color: #52b788 !important;
}

.disabled {
  background-color: #52b788 !important;
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.delete-button {
  background-color: #283618;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin-left: 8px;
}

.game-footer {
  display: flex;
  justify-content: space-between;
}

.game-footer > div {
  padding: 8px;
}

.game-footer > .game-state {
  color: #283618;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.game-footer > .game-turns {
  color: #283618;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* add card flip animation */
.card-flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;

}

.card-flip-back {
  transform: rotateY(0deg);
  transition: transform 0.5s;
}

.card-back {
  display: none;
}


.game-container {
  display: flex;
  height: 500px;
  gap: 16px;
}